@media (prefers-color-scheme: light) {
    body {
        background:#FDFDFD;
        color: #111;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background:#202022;
        color: #fff;
    }

    .invidition-openOptionsPage {
        color: #fff;
    }
}


body {
    font-size: 14px;
    padding: 3px;
    overflow: auto;
}

footer {
    margin-bottom: 10px;
    text-align: center;
}

a {
    font-weight:bold;
    color: #E52727;
    text-decoration: underline;
}

a:hover {
    color: #DA0000;
    text-decoration: none;
}

option {
    padding:0;
}

form {
    min-height: 100px;
}

.instance {
    min-width: 250px;
}

label, input, select {
    display: inline-block;
}

label {
    width: 33%;
    text-align: right;
    font-weight: bold;
}

label + input {
    width: 30%;
    margin: 0 33% 0 4%;
}

[type="text"] {
    border-radius: 3px;
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 5px;
    vertical-align: baseline;
}

form section {
    margin: 5px 0 5px 0;
    padding-bottom: 5px;
}

legend {
    font-weight: bolder;
    font-size: 16px;
}

fieldset {
    margin-bottom: 2%;
}

fieldset:disabled :not(.plegend){
    opacity: 0.7;
}

.short-button {
    padding:0;
    text-align:center;
    margin:auto;
    min-width: 0;
}

/* Notice */
.notice {
    display: block;
    margin-bottom: 1%;
}

.info {
    font-style: italic;
}

/* Spin */
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
    animation: spin 1000ms linear infinite;
}

/* Sliders */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #eb261c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #eb261c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 18px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Popup */
.popup {
    width: 66%;
}

.popup + input {
    width: 33%;
    margin: 0;
}

.margin-bottom {
    margin-bottom: 20px;
}

